## [Repository]
## API:
/api/*merlin*
!/api/*merlin*.*
/api/*merlin*.exe

## Client:
/client/dist/
/client/node_modules/

## Secrets:
.env


## [Go]
/api/dist/
/api/coverage.out


## [JS]
/client/jsconfig.json
/client/dist/


## [Git]
.gitignore

## git-secret:
.gitsecret/
*.secret


## [Docker]
.dockerignore


## [Miscellaneous]
.editorconfig
README.md


## [System Files]
## macOS:
.DS_Store
.DS_Store?
*.swp

## Windows:
Thumbs.db

## VSCode (keeping workspace configurations):
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json

## IntelliJ
.idea/
