@mixin breakpoint($point) {
  @if $point==desktop {
    @media only screen and (min-width: 70em) {
      @content;
    }
  } @else if $point==laptop {
    @media only screen and (min-width: 64em) {
      @content;
    }
  } @else if $point==tablet {
    @media only screen and (min-width: 50em) {
      @content;
    }
  } @else if $point==phablet {
    @media only screen and (min-width: 37.5em) {
      @content;
    }
  } @else if $point==mobile-only {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}
